

</main>
<footer> Copyright © Tudor Birsan <%= new Date().getFullYear() %> </footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/search.js"></script>
</body>

</html>