

</main>
<footer> Copyright © Tudor Birsan <%= new Date().getFullYear() %> </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/search.js"></script>
</body>

</html>